LINE_CHANNEL_SECRET=26bfcc93d31eca5e49ca814c3f09dcf0
LINE_CHANNEL_ACCESS_TOKEN=A8kDbGcFe28DZBofv0I1LzslYRN7qche+3Kl2Ep4fRGoiLj9rd1o/z+QTX9BlU+uH0ReuRdag/zGb9VCzMaDi9+ciZuosh+mummPkOSypIb672U+eywhiQUYbBJ2IIuDYltNNFvVoJkEZL6j5xHZdQdB04t89/1O/w1cDnyilFU=
OPENAI_API_KEY=your_openai_key
